<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IOT Devices</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.0.1/tailwind.min.css">

</head>

<body>
    <div class="hero">
        <nav>
            <a href="">D'vices</a>
            <ul>
                <li><a href="">Latest</a></li>
                <li><a href="">modern</a></li>
                <li><a href="">Contemporary</a></li>
                <li><a href="">Affordable</a></li>
            </ul>
        </nav>
        <div class="main-container">
            <div class="img-container">
                <img src="/public/hero.png" style="width: 400px;">
            </div>
            <div class="text-container">
                <div>
                    <h1>IOT <br> Devices</h1>
                    <p>Controll of all IOT Device in this company in one web.</p>
                    <a href="">Device Collection</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>